        :root {

            --cell-border: 1px;
            --navWidth: 250px;
            --icon-height: 20px;
            --elems-per-col: 4;

        }

        
        .categories {
            display: grid;
            grid-gap: 5px;
            grid-template-rows: repeat(var(--elems-per-col), var(--icon-height));
            grid-template-columns: 1fr 1fr 1fr;
            grid-auto-flow: column;
            padding: 5px;

        }

        body{
            overflow-x: hidden;
            overflow-y: auto;
            width: 100%;
            height: 100%;

        }

        html {
            width: 100%;
            height: 100%;
        }


            .toolTip {
                pointer-events: none;
                position: absolute;
                display: none;
                font-size: 32;
                z-index: 4;
                background: none repeat scroll 0 0 rgb(68, 149, 255);
                color: white;
                padding: 9px 14px 6px 14px;
                border-radius: 4px;
                box-shadow: 0px 3px 9px rgba(0, 0, 0, .15);
                
              }

              .null{
                  display: none;
              }

              .serviceIcon {
                background: transparent;
                display: inline-block;
                z-index: 1;
                /* box-shadow:0 0 10px rgba(0,0,0,0.5); */

              }
              .toolbox {
                background: white;
                padding: 10px;
                margin: 10px;
                box-shadow:0 0 10px rgba(0,0,0,0.5);
                text-align: center

              }
            
            .col, .row{
                border: var(--cell-border) dotted #d5d5d5;
                text-align: center !important;
                font-size: 10px;
            }

            .col-md-auto{
                padding: 0px;
                border: 0px;
            }


            .col.header{
                margin-top: 10px;
                border: 0px;
                width: auto;
                
            }

            .row.master, .col.master{
                 border: 0px;
            }

            .sidenav {
                height: 100%;
                width: var(--navWidth);
                position: fixed;
                z-index: 3;
                top: 0;
                left: 0;
                background-color: rgb(68, 149, 255);
                overflow-x: hidden;
                
                padding: 6px 8px 6px 6px;
            }
            
            .sidenav a {
                padding: 0px 8px 6px 16px;
                text-decoration: none;
                font-size: 25px;
                color: #ffffff;
                display: block;
            }


            
            .sidenav a:hover {
                color: #f1f1f1;
            }
            
        
            
        .container-fluid{
            position: absolute;
            z-index: 2;
            border: 0px;
            padding-top: 10px;
            padding-right: calc(var(--navWidth) + 45px);
            margin-left: calc(var(--navWidth) + 15px);

        }

            @media screen and (max-height: 450px) {
                .sidenav {padding-top: 15px;}
                .sidenav a {font-size: 18px;}
            }


            .blooming-menu__item:nth-of-type(1) .blooming-menu__item-btn {
                background-image: url(../tool_icons/random.svg);
                filter: invert(100%);
                
              }

            .blooming-menu__item:nth-of-type(2) .blooming-menu__item-btn {
                background-image: url(../tool_icons/document.svg);
                filter: invert(100%);
            }

            .svgContainer{
    
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }

            .connectorLabel{
                display: inline-block;

                background: rgba(255, 255, 255, 0.9);
                font-size: 10px;
                text-shadow: 0px 0px 4px white;
            }

       

            .jtk-connector { z-index:3; }
            .jtk-endpoint { z-index:3; }
            .jtk-overlay { z-index:3; }
          


            