<mat-grid-list cols="4" rowHeight="100px">
  <mat-grid-tile
    *ngFor="let tile of tiles"
    [colspan]="tile.cols"
    [rowspan]="tile.rows"
    [style.background]="tile.color"
  >
    {{ tile.text }}
  </mat-grid-tile>
</mat-grid-list>

<mat-card class="welcome-card">
  <img
    mat-card-image
    src="../../assets/logo/DL_Logo.svg"
    alt="Dynamic Landscape Logo"
  />
  <mat-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz
      breeds of dog from Japan. A small, agile dog that copes very well with
      mountainous terrain, the Shiba Inu was originally bred for hunting.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>GitHub</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>
