<mat-toolbar color="primary">
  <span>
    <img class="iconImg" src="../../assets/logo/DL_Logo.svg" height="40px"
  /></span>
  <span class="example-spacer"></span>

  <mat-form-field class="search-field" appearance="outline" floatLabel="never">
    <mat-icon matPrefix>find</mat-icon>
    <mat-label>Search</mat-label>
    <input matInput placeholder="Placeholder" />
  </mat-form-field>

  <span class="example-spacer"></span>
  <mat-icon
    class="example-icon"
    aria-hidden="false"
    aria-label="Example heart icon"
    >favorite</mat-icon
  >
  <mat-icon
    class="example-icon"
    aria-hidden="false"
    aria-label="Example delete icon"
    >delete</mat-icon
  >
</mat-toolbar>
